parameters:
    level: 5
    paths:
        - src
    excludePaths:
        - src/Kernel.php
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
    ignoreErrors:
        - '#Call to an undefined method Symfony\\Component\\Security\\Core\\User\\UserInterface::#'
